@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  /* height: 100vh;  */
  overflow: auto;
  /* height: 300px; */
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dfcd05; 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FF642F; 
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.login-bg {
  background-image: url("../public/images/BgLogin.jpg");
}
.footer-bg {
  background-image: url("../public/images/base.png");
}
.blur-css {
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgba(255, 255, 255, 0.4); /* Black w/opacity/see-through */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  height: 88%;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
}
.ant-input-number-handler-wrap {
  opacity: 1 !important;
}
:where(.css-dev-only-do-not-override-190m0jy).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #BA0001 !important;
}